html,
body {
 
  padding: 0;
  margin: 0;
  @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Lato:wght@300;900&display=swap');
 
}
.logo{
  height: 1.6rem;
  margin-left: -0.6rem;
}
.right-image{
  height: 40rem;
  padding-left: 10rem;
  padding-top: 4rem;
}

.container{
  display: flex;
  
}
.container-left{
  font-size: 1.7rem;
  padding-top: 6rem;
  padding-left: 10rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 4rem;
  
}
.freegift{
 display: flex;
}
.free{
  padding-left: 0.8rem;
  font-weight: 100;
  font-size: 1.2rem;
  display: flex;
  cursor: pointer;
}
.arrowico{
  font-size: 1rem;
  padding-top: 0.2rem;
  padding-left: 0.4rem;
  color: darkgray;
}
.gift{
  font-size: 1.2rem;
  padding-top: 0.1rem;
  color: gold;
  cursor: pointer;
}
.inputemail{
  height: 3rem;
  padding-left: 1rem;
  font-size: 0.8rem;
  width: 18rem;
  border: 0.1rem solid darkgray;
  border-radius: 0.4rem;
  
}
.emailregister{
  display: flex;
}
.getstarted{
  height: 3rem;
  padding-left: 0.4rem;
  margin-left: 1rem;
  font-size: 1.2rem;
  width: 8rem;
  border: gold;
  border-radius: 0.4rem;
  background-color: gold;
  line-height: 1rem;
}
.getstarted:hover{
cursor: pointer;
}
.baar{
 display: flex;
 margin-bottom: 2rem;
 padding-left: 10rem;
 justify-content: space-between;
 padding-right: 12rem;
 line-height: 1rem;
 padding-top: 2rem;
}
.baarh1{
 font-size: 2.7rem;
 font-weight: bold;
}